@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000; 
}

/* Background Video Styling */
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; 
}

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px); 
    -webkit-backdrop-filter: blur(4px); 
    background: rgba(0, 0, 0, 0.2); 
    z-index: -1; 
}

/* Header Styling */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5); 
    animation: fadeIn 1.5s ease-out;
}

/* Logo Styling */
.header .logo img {
    width: auto; 
    max-height: 120px; 
    object-fit: contain;
    animation: fadeIn 1.5s ease-out; 
}

/* Section Styling */
.home {
    position: relative;
    z-index: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    padding: 20px;
    gap: 40px;
}



/* Login Form Wrapper */
.wrapper-login {
    flex: 1;
    max-width: 55%;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(40px); 
    -webkit-backdrop-filter: blur(40px); 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 960px;
    text-align: center;
    color: white;
    height: 48%;
    margin-top: -5%;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 1.5s ease-out; 
}

/* Login Form Header */
.wrapper-login h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

/* Input Box Styling */
.wrapper-login .input-box {
    position: relative;
    width: 100%;
    height: 55px;
    margin-bottom: 45px;
}

.input-box input {
    width: 100%;
    height: 110%;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 25px 0 55px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 55px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    font-size: .8em;
    top: -14px;
    left: 35px;
}

/* Show Password icon */
.input-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.mail-icon{
    position: absolute;
    left: 5%;
    font-size: 20px;
    color: #ffffff;
    margin-top: -10px;
}

.password-icon{
    position: absolute;
    left: 5%;
    font-size: 20px;
    color: #ffffff;
    margin-top: -10px;
}


.toggle-password {
    position: absolute;
    right: 31px;
    cursor: pointer;
    font-size: 25px;
    color: #ffffff;
}

.toggle-password:hover {
    color: #C67C4E;
}



/* Submit Button Styling */
.wrapper-login .submit-btn {
    width: 100%; 
    height: 60px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(90deg, #1e0b04, #71412a);
    box-shadow: 0 8px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    padding: 0 20px; 
    transition:  0.3s ease, outline 0.3s ease;
    margin-top: auto;
}

.wrapper-login .submit-btn:hover {
    background: transparent;
    outline: 2px solid #C67C4E; 
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .wrapper-login {
        max-width: 75%;
        padding: 30px;
    }
}

@media (max-width: 992px) {
    .wrapper-login {
        width: 90%; 
        padding: 20px;
        margin-top: 0;
        max-width: 100%; 
        font-size: 0.9em; 
        height: 38%;
    }

    .wrapper-login h2 {
        font-size: 1.6em; 
        margin-bottom: 30px;
    }

    .input-box label {
        font-size: 0.85em; 
        left: 45px; 
    }

    .input-box input {
        font-size: 1em; 
    }

    .input-box input:focus~label,
    .input-box input:valid~label {
        font-size: 0.75em; 
        top: -14px; 
        left: 35px; 
    }

    .submit-btn {
        font-size: 18px; 
        margin-top: 15px; 
    }
}


@media (max-width: 768px) {
    .wrapper-login {
        max-width: 90%;
        padding: 15px;
        height: auto;
    }

    .wrapper-login .input-box {
        height: 45px;
        margin-bottom: 25px;
    }

    .wrapper-login h2 {
        font-size: 1.6em;
        margin-bottom: 20px;
    }

    .submit-btn {
        font-size: 18px;
        height: 50px;
    }
}

@media (max-width: 576px) {
    .wrapper-login {
        max-width: 95%;
        padding: 10px;
        height: auto;
    }

    .wrapper-login .input-box {
        height: 40px;
        margin-bottom: 20px;
    }

    .wrapper-login h2 {
        font-size: 1.4em;
        margin-bottom: 15px;
    }

    .submit-btn {
        font-size: 16px;
        height: 45px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}